nav {
    display: flex;
    position:relative;

}

nav > div {
    width: 33%;
    display: inline-block;
    text-align: center;
    vertical-align: top;

}

.container-links > img {
    width: 28%;
}

.container-midden a {
    font-size: 21px;
    text-decoration: none;
    color: white;
}
.container-midden ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container-rechts p {
    display:inline-block;
    background: orangered;
    border-radius: 12px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.herovideo {
    position: absolute;
    z-index: -1;
    width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

